@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}
main {
  background-color: var(--background);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-playfair-display), serif;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}
p {
  font-size: 0.875rem;
  text-transform: capitalize;
}

.header-desktop {
  border-bottom: 1px solid #d9d9d9;
}

/* .tes {
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);
} */

@media screen and (min-width: 640px) and (max-width: 1024px) {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.375rem;
  }
  p {
    font-size: 0.9375rem;
  }
}

@media screen and (min-width: 1025px) {
  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.875rem;
  }

  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}
